/* hazme las variables para el proyecto de los colores */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color:#ffffff;
    --secondary-color:#000000;
    --third-color: #e1421a;
    --shadow-color: 6px 4px 27px 0px rgba(0, 0, 0, 0.25);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        font-family: "Open Sans", sans-serif;
        h1{
            color: var(--secondary-color);
            font-size: 35px;
        }
    }
}





